.quote-page {
    display: flex;
    justify-content: center;
}

.quote-card {
    background-color: var(--secondary);
    border-radius: var(--br-m);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: clamp(30%, 50rem, 80%);
}

.line {
    border: 1px solid;
    width: 100%;
}

.quote-card > a {
    background-color: transparent;
    border: 1px solid;
    padding: 1rem 2rem;
    border-radius: var(--br-m);
    font-size: var(--fs-700);
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}
