@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply transition-all font-bold bg-transparent border rounded-2xl border-solid py-4 px-8 hover:bg-[#467399];
    }
    .navbar-button {
        @apply aspect-video w-12 border-none rounded-lg cursor-pointer transition-all flex justify-center items-center active:scale-90 bg-[var(--secondary)] hover:bg-white;
    }
    .navbar-button-icon {
        @apply text-white transition-all  group-hover:text-black;
    }
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

    color: var(--accent);
    background-color: var(--primary);

    scroll-behavior: smooth;

    /* custom styles */
    --gray-400: rgba(0, 0, 0, 0.55);
    --br-s: 10px;
    --br-m: 15px;
    --fs-400: 0.8rem;
    --fs-500: 1rem;
    --fs-700: 1.25rem;
    --fs-900: 1.5rem;
    --primary: #213547;
    --secondary: #314f6a;
    --accent: #ffffff;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
